.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.avatarImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarName {
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
}