.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.actions {
  margin-bottom: 24px;
}

.backButton {
  color: #00bfae;
  text-decoration: none;
  font-weight: 600;
}

.backButton:hover {
  text-decoration: underline;
}

.article {
  background-color: #171d1f;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 32px;
}

.cover {
  margin: 0;
  width: 100%;
  height: 250px;
  position: relative;
}

.coverImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.headerContent {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: #fff;
  font-size: 32px;
  margin: 0;
}

.body {
  padding: 0 24px;
  color: #bcbcbc;
  line-height: 1.6;
  font-size: 16px;
}
